<!DOCTYPE html>
<html>
    <head>
        <title>Мини Блог</title>
        <meta charset = "UTF-8">
    </head>
    <body>
        <header>
            <nav>
                <a href="">Main</a>
                <a href="about">About us</a>
                <a href="profile">profile</a>
            </nav>
        </header>
        <main role="main">
            <h2>Последние записи:</h2>
            <section>
                <article>
                    <h3>Name of post</h5>
                    <p>This is description of any post</p>
                </article>
            </section>
        </main>
    </body>
</html>